* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #5f300e;
}

body {
    background-color: #93e085;
}

.card-slot {
    background-image: url('closedcrd.png');
    margin: 10px;
    width : 100px;
    height : 150px;

}


.main-container {
    margin-top: 30px;
    position: relative;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}

.container {
    width: 75%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    /*position: relative;*/
    /*display:flex;*/
    /*align-content: center;*/
    width: 50px;
    text-align: center;
    padding-top: 4px;
    font-weight: bold;
}

.container-header {
    position: relative;
    display:flex;
    justify-content: center;
}

img {
    /*width: 100px;*/
    /*height: 100px;*/
    border-radius: 9px;
}

.container > div {

    /*background-color: red;*/
}

.form-container {
    width: 500px;
    margin: 30px 0px;
    background-color: #e7c889;
    padding: 20px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    width: 75%;
    margin: 30px 0px;
    background-color: #e3d0a8;
    padding: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-title {
    font-size: 40px;
}